.layout {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.layout .childContainer {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* .layout p,
.layout h1,
.layout h2,
.layout h3 {
  
} */

footer {
  position: fixed;
  bottom: .5em;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: .5em 1em 0;
}

.footer a {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  align-self: flex-end;
}

.footer .twitterBird {
  position: relative;
  left: -60px;
  bottom: -60px;
  display: inline;
}

.footer .twitterHandle {
  z-index: 1;
  position: relative;
  display: block;
}

.websiteLink.hideWebsite {
  opacity: 0;
}

table td {
  border: none
}

.layout button {
  padding: 20px;
  font-size: 4rem;
}

p.accentText {
  font-family: 'Roboto Mono', monospace;
}
